@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  display: grid;
  height: 100%;
  width: 100%;
  background-image: url("../img/background.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  height: 85%;
  margin: auto;
  width: 92%;
  margin-top: 80px;
  color: 'white';
  z-index: 10;
}
