@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  place-items: center;
  background-image: url("../img/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.editor{
    background-color: beige;
    height: 80%;
    width: 80%;
    margin-top: 6%;
    overflow: scroll;
    margin-bottom: 20px;
}

.ql-toolbar.ql-snow{
    background : #eaecec;
    border: 3px solid #ccc;
}
