.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  height: 200vh !important;
  width: 100%;
  place-items: center;
  background-image: url("../img/bg.svg") !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  height: 85%;
  margin: auto;
  width: 92%;
  margin-top: 80px;
  color: 'white';
  padding: 0 100px;
}
